In [39]:
import pandas as pd 
import numpy as np

In [40]:
dt = pd.read_csv('customer-churn.csv')

In [41]:
# create fiber optics feature #
OH_internetService = pd.get_dummies(dt['InternetService'])

In [42]:
dt = pd.concat([OH_internetService,dt],axis=1)

In [43]:
dt.to_csv('processed_data.csv',index=False)

In [44]:
# create support flag #
OH_Techsupport = pd.get_dummies(dt['TechSupport'],prefix='TechSupport')

In [45]:
OH_Techsupport

      TechSupport_No  TechSupport_No internet service  TechSupport_Yes
0                  1                                0                0
1                  1                                0                0
2                  1                                0                0
3                  0                                0                1
4                  1                                0                0
...              ...                              ...              ...
7038               0                                0                1
7039               1                                0                0
7040               1                                0                0
7041               1                                0                0
7042               0                                0                1

[7043 rows x 3 columns]

In [46]:
dt = pd.concat([OH_Techsupport,dt],axis=1)

In [47]:
dt.to_csv('processed_data.csv',index=False)

In [48]:
# all service flag #
def all_services(row):
    if row[0] == 'Yes' and row[1]=='Yes' and row[2] == 'Yes' and row[3]=='Yes' and row[4] == 'Yes' and row[5]=='Yes' and row[6] == 'Yes' and row[7]=='Yes':
        return 1
    else:
        return 0

In [49]:
services = ['PhoneService', 'MultipleLines',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies']

In [50]:
dt['All services flag'] = dt[services].apply(lambda x: all_services(x),axis=1)

In [51]:
dt[dt['All services flag']==1]

,TechSupport_No,TechSupport_No internet service,TechSupport_Yes,DSL,Fiber optic,No,customerID,gender,SeniorCitizen,Partner,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,All services flag
15,0,0,1,0,1,0,3655-SNQYZ,Female,0,Yes,...,Yes,Yes,Yes,Two year,No,Credit card (automatic),113.25,7895.15,No,1
28,0,0,1,1,0,0,5248-YGIJN,Male,0,Yes,...,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),90.25,6369.45,No,1
140,0,0,1,1,0,0,3146-MSEGF,Female,1,Yes,...,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),88.05,6425.65,No,1
167,0,0,1,1,0,0,5997-OPVFA,Male,0,Yes,...,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),89.05,6254.45,No,1
256,0,0,1,0,1,0,7017-VFHAY,Female,0,Yes,...,Yes,Yes,Yes,Two year,No,Credit card (automatic),115.10,7008.15,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6768,0,0,1,0,1,0,9739-JLPQJ,Female,0,Yes,...,Yes,Yes,Yes,Two year,No,Credit card (automatic),117.50,8670.1,No,1
6859,0,0,1,0,1,0,3508-CFVZL,Female,0,No,...,Yes,Yes,Yes,Two year,No,Mailed check,111.30,7985.9,No,1
6873,0,0,1,1,0,0,6369-MCAKO,Female,0,Yes,...,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),89.05,6185.8,No,1
6910,0,0,1,0,1,0,0530-IJVDB,Male,0,No,...,Yes,Yes,Yes,Two year,Yes,Electronic check,114.60,7882.5,No,1
6995,0,0,1,1,0,0,7164-BPTUT,Male,0,No,...,Yes,Yes,Yes,Two year,No,Mailed check,89.55,5012.35,No,1

In [52]:
dt.to_csv('processed_data.csv',index=False)