In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import ExcelWriter
import time

In [2]:
fields = ['Date', 'Blast Day Type','City','Province','Location Category','Target Type','Killed Min','Killed Max',
          'Injured Min','Injured Max','No. of Suicide Blasts']
Num_fields = ['Killed Min','Killed Max','Injured Min','Injured Max','No. of Suicide Blasts']

In [4]:
Data = pd.read_csv('suicide-blasts-dataset.csv', delimiter=',', 
                   encoding='utf8',usecols=fields, skipinitialspace=True) 
Data.head()

,Date,Blast Day Type,City,Province,Location Category,Target Type,Killed Min,Killed Max,Injured Min,Injured Max,No. of Suicide Blasts
0,Sunday-November 19-1995,Holiday,Islamabad,Capital,Foreign,Foreigner,14.0,15.0,NaN,60,2.0
1,Monday-November 6-2000,Working Day,Karachi,Sindh,Office Building,Media,NaN,3.0,NaN,3,1.0
2,Wednesday-May 8-2002,Working Day,Karachi,Sindh,Hotel,Foreigner,13.0,15.0,20.0,40,1.0
3,Friday-June 14-2002,Working Day,Karachi,Sindh,Foreign,Foreigner,NaN,12.0,NaN,51,1.0
4,Friday-July 4-2003,Working Day,Quetta,Balochistan,Religious,Religious,44.0,47.0,NaN,65,1.0

In [5]:
#Check no. of null values for the only columns having null values
null_columns = Data.columns[Data.isnull().any()]
Data[null_columns].isnull().sum()

Blast Day Type            10
Location Category         36
Target Type               26
Killed Min               146
Killed Max                16
Injured Min              131
Injured Max               32
No. of Suicide Blasts     82
dtype: int64

In [6]:
#Replace null values
for field in Data:
    if(field in Num_fields):
        Data[field] = Data[field].astype(str)  #first convert to string to strip the blank spaces below
        Data[field] = pd.to_numeric(Data[field].str.strip(), errors='coerce') #strip blank spaces and convert to number
        Data[field].fillna(0.0, inplace = True) #Change NaN value to zero
    else:
        Data[field].fillna('Unknown', inplace = True)    
Data.head()

,Date,Blast Day Type,City,Province,Location Category,Target Type,Killed Min,Killed Max,Injured Min,Injured Max,No. of Suicide Blasts
0,Sunday-November 19-1995,Holiday,Islamabad,Capital,Foreign,Foreigner,14.0,15.0,0.0,60.0,2.0
1,Monday-November 6-2000,Working Day,Karachi,Sindh,Office Building,Media,0.0,3.0,0.0,3.0,1.0
2,Wednesday-May 8-2002,Working Day,Karachi,Sindh,Hotel,Foreigner,13.0,15.0,20.0,40.0,1.0
3,Friday-June 14-2002,Working Day,Karachi,Sindh,Foreign,Foreigner,0.0,12.0,0.0,51.0,1.0
4,Friday-July 4-2003,Working Day,Quetta,Balochistan,Religious,Religious,44.0,47.0,0.0,65.0,1.0

In [7]:
#Again Check no. of null values for the only columns having null values
null_columns = Data.columns[Data.isnull().any()]
Data[null_columns].isnull().sum()

Series([], dtype: float64)

In [8]:
#Create 2 calculated columns
Data['Killed'] = round((Data['Killed Min'] + Data['Killed Max'])/2)     #Average killed

Data['Injured'] = round((Data['Injured Min'] + Data['Injured Max'])/2)  #Average injured

Data['Date Temp1'] = (Data['Date'].str.replace(' ', '-')).str.split('-')

In [9]:
Data['Date'] = ''
for i in range(0,len(Data['Date Temp1'])):
    Data['Date'][i] = ''
    for j in range(0,len(Data['Date Temp1'][i])):
        if j == 3:
            Data['Date'][i] = Data['Date'][i] + Data['Date Temp1'][i][j]
        else:
            Data['Date'][i] = Data['Date'][i] + Data['Date Temp1'][i][j][:3]

Data.drop(['Killed Min', 'Killed Max', 'Injured Min', 'Injured Max','Date Temp1'], axis=1, inplace=True)

/home/sehan/Documents/Jupyter-notebook/my_jupyter_notebook_env/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/sehan/Documents/Jupyter-notebook/my_jupyter_notebook_env/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/sehan/Documents/Jupyter-notebook/my_jupyter_notebook_env/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
Data['Year'] = ''
Data['Month'] = ''
Data['Weekday'] = ''
Data['Month Day'] = ''
for i in range(0,len(Data['Date'])):
    Data['Year'][i] = time.strptime(Data['Date'][i], '%a%b%d%Y').tm_year
    Data['Month'][i] = time.strptime(Data['Date'][i], '%a%b%d%Y').tm_mon
    Data['Weekday'][i] = time.strptime(Data['Date'][i], '%a%b%d%Y').tm_wday
    Data['Month Day'][i] = time.strptime(Data['Date'][i], '%a%b%d%Y').tm_mday
Data.head()

/home/sehan/Documents/Jupyter-notebook/my_jupyter_notebook_env/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/sehan/Documents/Jupyter-notebook/my_jupyter_notebook_env/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/sehan/Documents/Jupyter-notebook/my_jupyter_notebook_env/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/sehan/Documents/Jupyter-notebook/my_jupyter_notebook_env/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,Date,Blast Day Type,City,Province,Location Category,Target Type,No. of Suicide Blasts,Killed,Injured,Year,Month,Weekday,Month Day
0,SunNov191995,Holiday,Islamabad,Capital,Foreign,Foreigner,2.0,14.0,30.0,1995,11,6,19
1,MonNov62000,Working Day,Karachi,Sindh,Office Building,Media,1.0,2.0,2.0,2000,11,0,6
2,WedMay82002,Working Day,Karachi,Sindh,Hotel,Foreigner,1.0,14.0,30.0,2002,5,2,8
3,FriJun142002,Working Day,Karachi,Sindh,Foreign,Foreigner,1.0,6.0,26.0,2002,6,4,14
4,FriJul42003,Working Day,Quetta,Balochistan,Religious,Religious,1.0,46.0,32.0,2003,7,4,4

In [11]:
writer = ExcelWriter('PythonExport.xlsx')
Data.to_excel(writer,'Sheet5')
writer.save()

ModuleNotFoundError: No module named 'openpyxl'

# SIMPLE STATISTICS

In [12]:
#Total people killed 
Total_killed = int(round(Data['Killed'].sum()))
Total_killed

6205

In [13]:
#What is the range of years in this dataset?
Total_years = (Data['Year'].max() - Data['Year'].min())
Total_years

22

In [14]:
#What is average killing per year?
Avg_killing_year = int(round(Total_killed/Total_years))
Avg_killing_year

282

In [15]:
#Average killing per sucide attack
Avg_killing = round(Data['Killed'].mean())
Avg_killing

13.0

In [16]:
#Average injured per sucide attack
Avg_injured = round(Data['Injured'].mean())
Avg_injured

30.0

In [17]:
#Average Blasts per sucide attack
Avg_Blasts = round(Data['No. of Suicide Blasts'].mean())
Avg_Blasts

1.0

In [18]:
#Most attacked city
Attacked_city = Data['City'].mode()
Attacked_city

0    Peshawar
dtype: object

In [19]:
#Most attacked province
Attacked_province = Data['Province'].mode()
Attacked_province

0    KPK
dtype: object

In [20]:
#Popular blast day type
Blast_day = Data['Blast Day Type'].mode()
Blast_day

0    Working Day
dtype: object

In [21]:
#Popular Target Type
Target_type = Data['Target Type'].mode()
Target_type

0    Police_Rangers
dtype: object

In [22]:
#Popular Blast Day
Popular_blast_day = Data['Weekday'].mode()
Popular_blast_day

0    3
1    4
dtype: object

# DATA VISUALIZATION